@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --accent-color: #F43F5E;
}

.project-poster {
  position: relative;
  width: 100%;
}

.project-poster img {
  min-height: 400px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.accent-bottom-border {
  border-bottom-width: 4px;
  border-color: var(--accent-color);
}

:hover.accent-bottom-border {
  background-color: var(--accent-color);
}

.accent-text {
  color: var(--accent-color);
}

.accent-background {
  background-color: var(--accent-color);
}